.body {
  position: relative;
  width: 100vw !important;
  height: 100vh !important;
  background-image: url(../assets/bag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 1900px !important;
  width: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-size: auto;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* login form */
.login_form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
